:root{
  --primary-color: #1bb355;
  --secondary-color: #00b0bb;
}

@font-face {
    font-family: 'Gotham Book'; /*a name to be used later*/
    src: url('../fonts/Gotham-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Gotham Medium'; /*a name to be used later*/
    src: url('../fonts/Gotham-Medium.ttf'); /*URL to font*/
}

h1, h2, h3, h4 {
  font-family: 'Gotham Medium', sans-serif;
  margin: 0;
  margin-bottom: 20px;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Gotham Book', sans-serif;
  height: 100%;
  padding-top: 70px;
}

input {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-brand {
  margin-top: -5px;
}

.navbar {
  margin-bottom: 0;
  z-index: 9999;
}

.navbar .container-fluid {
  padding: 10px;
}

.navbar > div {
  max-width: 1200px;
  margin: 0 auto;
}


.page-container {
  max-width: 1200px;
  margin: 30px auto;
}

@media only screen and (max-width: 767px) {
  .page-container {
    padding: 15px;
  }
}

.main-banner-bg {
  background: url(../images/main.jpg) center center no-repeat scroll;
}

.subject-banner-bg {
  background: url(../images/subject-banner.jpg) center center no-repeat scroll;
}

.all-subject-banner-bg {
  background: url(../images/all-subject-banner.jpg) center center no-repeat scroll;
}

.hero-banner {
  background-size: cover;
  display: table;
  width: 100%;
  height: auto;
  padding: 120px 60px;
}

.hero-banner .text > h1 {
  color: var(--primary-color);
  font-size: 42px;
  margin-bottom: 20px;
}

.hero-banner .text.white > h1, .hero-banner .text.white {
  color: white;
}

.hero-banner .text.green > h1, .hero-banner .text.green {
  color: var(--primary-color);
}

.hero-banner > div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.hero-banner > div > .form {
  max-width: 70%;
  margin: 0 auto;
}

.tutor-banner {
  background: rgba(0,186,149,1);
  background: -moz-linear-gradient(top, rgba(0,186,149,1) 0%, rgba(0,176,187,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,186,149,1)), color-stop(100%, rgba(0,176,187,1)));
  background: -webkit-linear-gradient(top, rgba(0,186,149,1) 0%, rgba(0,176,187,1) 100%);
  background: -o-linear-gradient(top, rgba(0,186,149,1) 0%, rgba(0,176,187,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,186,149,1) 0%, rgba(0,176,187,1) 100%);
  background: linear-gradient(to bottom, rgba(0,186,149,1) 0%, rgba(0,176,187,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ba95', endColorstr='#00b0bb', GradientType=0 );
  background-size: 100%;
  display: table;
  width: 100%;
  height: auto;
  padding: 120px 60px;
}

.tutor-banner > .text > h1 {
  color: white;
  font-size: 42px;
}

.tutor-banner > .text {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.tutor-banner > .text > p {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .hero-banner {
    padding: 30px 20px;
  }

  .hero-banner .text > h1 {
    font-size: 30px;
    padding: 0 30px;
  }

  .tutor-banner > .text > h1 {
    font-size: 30px;
  }

  .tutor-banner > .text > p {
    font-size: 18px;
  }

  .hero-banner > div > .form {
    max-width: 100%;
    padding: 0;
  }
}

.section.grey-bg {
  background-color: #f7f7f7;
}

.section > div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: left;
}

.section > .row {
  border-bottom: 1px solid #eeeeee;
}

.section > .row:last-child {
  border-bottom: none;
}

.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section ul li {
  padding-left: 1em;
  text-indent: -.7em;
  margin-bottom: 20px;
}

.section ul li.verified::after {
  content: "Verified";
  color: white;
  padding: 5px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 11px;
  font-weight: bolder;
  background-color: var(--primary-color);
}

.section ul li::before {
  content: "• ";
  color: var(--primary-color);
}

@media only screen and (max-width: 767px) {
  .section > div {
    padding: 20px;
  }
}

.section > div > h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

.section h2 {
  text-align: center;
}

.section > div > h1::after {
  border-bottom: 1px solid #ddd;
  content: '';
  display: block;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
}

.section img.hero {
  height: 80px;
  margin-bottom: 30px;
  display: block;
}

.section .list p:first-child {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: 'Gotham Medium', sans-serif;
  font-size: 18px;
  display: block;
  margin-bottom: 30px;
}

.section .list > div {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.section .list > div > * {
  display: inline-block;
}

.section .list > div img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.section .list > a {
  color: var(--primary-color);
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .section .list {
    text-align: center;
  }

  .section .list::after {
    content: '';
    border-bottom: 1px solid #eee;
    display: block;
    width: 100%;
    margin: 30px 0;
  }

  .section .list:last-child::after {
    display: none;
  }

  .section .list p:first-child {
    text-align: center;
    margin-left: 0;
  }

  .section img.hero {
    margin: 30px auto;
  }

  .section img.hero.left {
    margin: 30px 0;
  }
}

a {
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
  opacity: 0.6;
  text-decoration: none;
}

.trainer-card {
  display: block;
  border: 1px solid #eee;
  background-color: white;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .trainer-card {
    margin-bottom: 20px;
  }
}

.trainer-card .profile-img {
  border-radius: 100%;
  height: 70px;
  display: block;
  margin: 0 auto 10px auto;
}

.trainer-card h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

.trainer-card h2 {
  font-size: 13px;
  font-weight: bold;
  color: var(--secondary-color);
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-family: 'Gotham Medium', sans-serif;
}

.trainer-card .review {
  margin-bottom: 10px;
}

.trainer-card .review > div {
  display: inline-block;
  font-size: 13px;
  color: #999999;
}

.trainer-card .review .glyphicon{
  color: #e8dd28;
}

.trainer-card .review > div:first-child {
  margin-right: 5px;
}

.trainer-card .label.label-default {
  background-color: #eeeeee;
  color: black;
  padding: 5px 8px;
  text-transform: uppercase;
  margin: 0 3px 10px 0;
  display: inline-block;
}

.trainer-card .btn {
  margin: 20px 0 10px 0;
}

.line-btn {
  padding: 15px 20px;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.line-btn.line-btn-green {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.line-btn.line-btn-white {
  border: 1px solid white;
  color: white;
}

.line-btn:hover {
  opacity: 1;
}

.line-btn.line-btn-white:hover {
  background-color: white;
  color: black;
}

.line-btn.line-btn-green:hover {
  background-color: var(--primary-color);
  color: white;
}

.how-it-works img {
  width: 80px;
  margin-bottom: 20px;
}

.how-it-works > div > div {
  text-align: center;
  margin-bottom: 30px;
}

.how-it-works > div > div > h1 {
  color: var(--primary-color);
  font-family: 'Gotham Medium', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}

.how-it-works p {
  font-size: 14px;
  margin-bottom: 20px;
}

.footer {
  border-top: 1px solid #eee;
}

.footer > div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0 30px 0;
  text-align: left;
  display: block;
}

.footer > div > div {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  display: block;
  margin-bottom: 20px;
}

.footer ul {
  padding-left: 0;
}

.footer ul > li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer ul > li:first-child {
  text-transform: uppercase;
  font-family: 'Gotham Medium', sans-serif;
}

@media only screen and (max-width: 767px) {
  .footer ul {
    text-align: center;
  }

  .footer > div > div {
    margin-bottom: 30px;
  }
}

.btn-success {
  background-color: #1bb355;
}


.search-bar {
  display: block;
  background-color: white;
  border: 1px solid #ddd;
  height: 90px;
}

.search-bar input {
  border: none;
  box-shadow: none;
}

.search-bar > div > div {
  height: 90px;
}

.search-bar > div > div:first-child {
  border-right: 1px solid #eee;
  padding: 20px 30px;
}

.search-bar > div > div:last-child {
  padding: 20px 30px;
}

.search-bar .btn-default {
  border: none;
  margin: 0 10px 0 0;
  padding: 0;
  margin-left: -15px;
  font-size: 18px;
}

.search-bar .input-group-btn {
  margin: 0;
  padding: 0;
}

.input-group-btn label {
  margin-left: -10px;
}

.search-bar label {
  display: block;
  font-size: 12px;
  text-align: left;
}

.search-bar input {
  font-size: 18px;
  margin-left: -12px;
  background: transparent;
}

.search-bar .hidden-submit {
  background: url(../images/icon-search.png) no-repeat center center;
  background-size: 30px;
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0px;
  right: 0px;
  z-index: 100;
  border: none;
}

@media only screen and (max-width: 767px) {
  .search-bar .hidden-submit {
    display: none;
  }
}

input {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.search-page {
  width: 100%;
  display: block;
  position: relative;
  height: 100%;
}

.search-page input {
  border: none !important;
}

.search-page > div {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-page > div:first-child {
  float: left;
  border-right: 1px solid #eee;
}

.search-page > div:last-child {
  background-color: white;
  float: right;
}

.search-page .form-group {
  margin-bottom: 0;
}

.form-row {
  display: block;
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%
}

.form-row label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.form-row > * > div {
  padding: 10px 0 10px 40px;
}

.form-row > div:first-child {
  border-right: 1px solid #eee;
  width: 50%;
  float: left;
}

.form-row > div:last-child {
  width: 50%;
}

.form-row input {
  background: transparent;
  color: var(--primary-color);
  font-family: 'Gotham Medium', sans-serif;
}

.form-row .button > *:first-child {
  margin-right: 20px;
}

.filter-option .primary-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  margin: 5px 0;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Gotham Medium', sans-serif;
}

.filter-option .secondary-btn {
  background-color: #ddd;
  color: #999;
  padding: 10px;
  text-transform: uppercase;
  margin: 5px 0;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Gotham Medium', sans-serif;
}

.filter-option {
  padding: 15px 40px;
}

.filter-option select {
  width: 100%;
}

.filter-option label {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.filter-option input.form-control {
  background-color: transparent;
}

.budget-row label {
  margin-top: 10px;
}

.input-field {
  border-right: 1px solid #eee;
}

@media only screen and (max-width: 767px) {
  .budget-row .form-control, .filter-option .form-control {
    padding: 6px 12px 6px 0px;
  }

  .search-page > div:first-child {
    width: 100%;
  }

  .form-row > div {
    border-bottom: 1px solid #eee;
    padding: 10px;
  }

  .form-row > div:first-child {
    width: 100%;
    border-right: none;
  }

  .form-row > div:last-child {
    width: 100%;
  }

  .filter-option {
    padding: 15px 10px;
  }

}

/*===========================
  COLOR UTILS
===========================*/
.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

/*===========================
  HIDE SHOW UTILS FOR DESKTOP AND MOBILE
===========================*/
.show-mobile {
  display: none !important;
}

.hide-mobile {
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .show-mobile {
    display: block !important;
  }

  .hide-mobile {
    display: none !important;
  }
}

.filter-option {
  border-bottom: 1px solid #eee;
}

.filter-option select {
  border: 1px solid #ccc;
  height: 34px;
  font-size: 12px;
  text-transform: capitalize;
}


.lightbg {
  background-color: #f9f9f9;
}

a.listing-card:hover {
  transition: all 0.3s ease 0s;
  opacity: 0.8;
}

.listing {
  padding: 20px;
}

.listing h4 {
  color: #aaa;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}

.listing-card {
  display: table;
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 40px;
}

.listing-card .primary-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 10px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  font-family: 'Gotham Medium', sans-serif;
}

.listing-header {
  padding: 10px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.listing-header > .left {
  float: left;
  display: table;
}

.listing-header > .right {
  float: right;
  display: table;
}

.listing-header > .right > * {
  margin-right: 10px;
}

.listing-header .btn {
  border-radius: 0;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.listing-header > .right > p {
  display: table-cell;
}

.listing-header > .left > * {
  display: table-cell;
  vertical-align: middle;
}

.listing-header img {
  width: 50px;
  border-radius: 50%;
}

.listing-header > .left > * {
  padding: 0 10px;
}

.listing-header > .left > *:first-child {
  padding-right: 0;
}

thead {
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: "Gotham Medium";
}

.table-bordered > thead > tr > th {
  border-bottom: 0;
}

.listing-table {
  max-height: 200px;
  overflow: scroll;
}

.listing-table table{
  margin-bottom: 0px;
}

.listing-header .name {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Gotham Medium";
}

.listing-header .type {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Gotham Medium";
}

.listing-header .review {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Gotham Medium";
}

.modal-body img {
  margin: 0 auto;
  display: block;
}

.modal-body h1 {
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.modal-body h1::after {
  content: '';
  width: 50px;
  margin: 20px auto;
  border: 1px solid #aaa;
  display: block;
}

.modal-header {
  border-bottom: 0;
}

.form-style input[type="text"], .form-style input[type="password"], .form-style select {
  border: 1px solid #eee;
  height: 50px;
  border-radius: 0;
  width: 100%;
  padding-left: 20px;
}

.form-style input[type=checkbox] {
  margin-right: 10px;
  margin-top: 0;
}

.form-style textarea {
  border: 1px solid #eee;
  border-radius: 0;
  width: 100%;
  padding: 20px;
}

.form-style label {
  font-size: 12px;
  text-transform: uppercase;
}

.form-style > * {
  margin-bottom: 20px;
  display: block;
}

.form-style .primary-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  margin: 5px 0;
  display: inline-block;
  min-width: 100px;
}

.modal-body {
}

.modal-footer {
  text-align: inherit;
}

.loginModal .link {
  color: var(--primary-color);
  font-size: 12px;
}

.t-btn {
  color: white;
  padding: 10px;
  text-transform: uppercase;
  margin: 5px 0;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;
}

.t-btn:hover {
  color: white;
}

.t-btn.primary-btn {
  background-color: var(--primary-color);
}

.t-btn.secondary-btn {
  background-color: var(--secondary-color);
}

.t-btn.light-btn {
  background-color: #999;
}

.signup-btns p {
  margin: 10px auto;
  color: #999;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.profile-block {
  display: block;
  border: 1px solid #ddd;
  background-color: white;
  margin-bottom: 20px;
}

.profile-block.table {
  border: none;
}

.profile-block.table .glyphicon {
  color: #999;
}

.profile-block.table .title {
  border: 1px solid #ddd;
  border-bottom: none;
}

.profile-block > * {
  padding: 10px 15px;
}

.profile-block .title {
  border-bottom: 1px solid #eee;
}

.profile-block .profile-img {
  border-radius: 50%;
  margin: 0 auto;
}

.profile-block .user {
  display: table;
}

.profile-block .user > * {
  display: table-cell;
  vertical-align: middle;
}

.profile-block h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .profile-block .user-info {
    text-align: center;
  }
}

.label {
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding: 9px 7px 7px 7px;
}

.label.trainer {
  background-color: var(--primary-color);
}

.label.learner {
  background-color: var(--secondary-color);
}

.register-container {
  max-width: 500px;
  margin-left: 0 auto;
}

.register-container > p:first-child {
  text-align: center;
}

.register-container > p:first-child::after {
  width: 50px;
  content: '';
  display: block;
  margin: 20px auto;
  border: 2px solid #ddd;
}

.mTop20 {
  display: block;
  margin-top: 20px;
}

.no-border {
  border: none !important;
}

.dashboard-nav {
  border-right: 1px solid #eee;
}

.dashboard-nav ul {
  list-style-type: none;
  padding-left: 10px;
}

.dashboard-nav ul li a {
  margin: 15px 0 15px -5px;
  padding-left: 10px;
  display: block;
  font-size: 16px;
  color: black;
  border-left: 2px solid white;
}

.dashboard-nav ul li a:hover {
  color: black;
  border-left: 2px solid #bbb;
}

.dashboard-nav ul li.active a:hover {
  color: black;
  border-left: 2px solid black;
}

.dashboard-nav ul li.active a, .dashboard-nav ul li.active a:hover {
  font-family: 'Gotham Medium', sans-serif;
  color: var(--primary-color);
  border-left: 2px solid var(--primary-color);
}

.profile-table {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .profile-table {
    width: 100%;
  }
}

.profile-table.table > tbody > tr > td {
  border: none;
}

.profile-table.table > tbody > tr > td:first-child {
  font-weight: bold;
}

.line-search {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-top: 5px;
  font-size: 20px;
  background: url(../images/icon-search.svg) no-repeat center;
  background-position: top left;
  background-size: 35px;
}

.uppercase {
  text-transform: uppercase;
}

.shortlist-card {
  display: table;
  border: 1px solid #eee;
  margin-top: 20px;
  width: 100%;
}

.shortlist-card > .profile {
  display: table;
  width: 100%;
  padding: 20px;
}

.shortlist-card > .action {
  display: table-cell;
  vertical-align: middle;
  width: 15%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.shortlist-card > .action img {
  width: 24px;
  margin: 0 10px;
}

.shortlist-card > .date {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 15%;
  padding: 20px;
  color: #999;
}

.shortlist-card > .profile > * {
  display: table-cell;
  vertical-align: middle;
}

.shortlist-card img.profile-img {
  border-radius: 50%;
  width: 50px;
}

.shortlist-card > .profile .profile-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.shortlist-card > .profile .rate {
  color: var(--primary-color);
  text-align: right;
}

.shortlist-card > .profile .profile-msg {
  color: #999;
}

p.box {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 10px 0;
}

.review-average > p.small {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 0;
}

.review-average > p.review-grade {
  font-size: 24px;
  text-transform: capitalize;
  color: var(--secondary-color);
  display: inline-block;
  margin-right: 10px;
}

.review-average .review {
  display: inline-block;
}

.review-average .review .glyphicon {
  color: #e8dd28;
  font-size: 20px;
}

.form-style.add-subject > .row > div:first-child {
  border-right: 1px solid #eee;
  padding-right: 30px;
}

.form-style.add-subject > .row > div > div {
  margin-bottom: 20px;
}

.form-style.add-subject > .row > div > div > label {
  display: inline-block;
}

.form-style.add-subject > .row > div > div > .glyphicon {
  color: #999;
  display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    cursor: pointer;
}

.tooltip .glyphicon {
  color: #999;
  z-index: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    transition: all 0.3s ease 0s;
    opacity: 0;
    /* Position the tooltip */
    position: absolute;
    left: 20px;
    top: 0px;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    z-index: 2;
    visibility: visible;
}

.form-style input[type="text"].inline-input {
  display: inline-block;
  width: 150px;
  margin-right: 5px;
}

.radio input[type=radio] {
  display: none;
}
.radio input:checked+.outer {
    border: 1px solid #09c1e2;
}

.radio .outer {
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    background-color: #fff;
}

.radio .inner {
    width: 8px;
    height: 8px;
    display: block;
    margin: 4px;
    border-radius: 50%;
    opacity: 0;
}

.radio input:checked+.outer .inner {
    opacity: 1;
}

.radio .inner {
    background-color: #09c1e2;
}

a.inline.cboxElement {
  display: inline-block;
  outline: 0;
}

.timeslot {
  position: relative;
}

.timeslot input {
  background: url(../images/calendar.svg) no-repeat center right;
  background-size: 30px;
  background-position: 10px;
  padding-left: 50px !important;
}

.timeslot a {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 24px;
  background-color: white;
  opacity: 0;
}

.timeslot a:hover {
  opacity: 0.3;
}

.glyphicon {
  position: static;
}

li.profile img {
    border-radius: 50%;
    width: 30px;
    margin: -8px 10px -8px 0;
}

.file {
  visibility: hidden;
  position: absolute;
}

.mBottom20 {
  margin-bottom: 20px;
}

.form-style .input-group .input-group-btn button, .form-style .input-group input {
  height: 50px;
  border: 1px solid #ccc;
}

.float-right {
  float: right;
}

.thumb100-round {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 20px;
}

.dashboard-content .back-link {
  color: #999;
  font-size: 11px;
  text-decoration: none;
}

.dashboard-content .back-link::before {
  content: "<";
  margin-right: 2px;
}

.chat-container {
  position: relative;
  height: 40vw;
  width: 100%;
  border: 1px solid #eee;
}

.chat-container .side {
  width: 30%;
  height: 100%;
  border-right: 1px solid #eee;
  position: absolute;
  left: 0;
}

.chat-container .side .user.active {
  border-left: 3px solid var(--primary-color);
  background-color: #f7f7f7;
}

.chat-container .main {
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
}

.chat-container .search {
  border-bottom: 1px solid #eee;
  padding: 10px;
  height: 10%;
  display: table;
  width: 100%;
}

.chat-container .search form {
  display: table-cell;
  vertical-align: middle;
}

.chat-container .search input {
  border: 0;
  width: 100%;
}

.chat-container .side .users {
  overflow: scroll;
  height: 90%;
}

.chat-container .side .users > .user {
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: table;
}

.chat-container .side .users > .user > * {
  display: table-cell;
  vertical-align: middle;
}

.chat-container .side .users > .user .image img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-container .side .users > .user > .info > .name {
  font-size: 13px;
  font-family: 'Gotham Medium', sans-serif;
}

.chat-container .side .users > .user > .info > .text {
  font-size: 11px;
  font-weight: bold;
  color: #666;
  line-height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 1em;
}

.chat-container .main .header {
  border-bottom: 1px solid #eee;
  display: table;
  width: 100%;
  height: 10%;
  padding: 11px;
}

.chat-container .main .header > * {
  display: table-cell;
  vertical-align: middle;
}

.chat-container .archive {
  text-transform: uppercase;
  font-family: 'Gotham Medium', sans-serif;
  text-align: right;
  font-size: 11px;
  color: #999;
}

.strong {
  font-family: 'Gotham Medium', sans-serif !important;
}

.chat-container .main .body {
  height: 77%;
  overflow: scroll;
  padding: 0 10px;;
}

.chat-container .main .footer {
  height: 15%;
  overflow: scroll;
}

.chat-container .message-row {
  display: table;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 5px;
  width: 100%;
}

.chat-container .message-row > * {
  display: table-cell;
  vertical-align: middle;
}

.chat-container .message {
  clear: both;
  float: left;
  padding: 10px;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
  border-radius: 5px;
  max-width: 70%;
  color: #333;
}

.chat-container .message.to {
  background-color: #e8f7ee;
  float: right;
  margin: 5px 10px 0 0;
}

.chat-container .message.from {
  background-color: #f0f0f0;
  margin: 5px 0 0 10px;
}

.chat-container .message-row .image {
  width: 5%;
}

.chat-container .message-row .date {
  display: block;
  font-size: 10px;
  font-family: "Gotham Medium", sans-serif;
  margin-top: 10px;
  opacity: 0.5;
}

.chat-container .message-row.to .date {
  text-align: right;
}

.chat-container .message-row .image img {
  border-radius: 50%;
}

.chat-container .message-row.to .image {
  text-align: right;
}

.chat-send {
  display: table;
  height: 90%;
  width: 100%;
  position: relative;
}

.chat-send input {
  border: 0;
  width: 90%;
  padding:  0 20px;
  font-size: 14px;
  overflow: scroll;
}

.chat-send button {
  width: 10%;
  right: 0;
  border: 0;
  padding: 20px;
}

.chat-send button img {
  width: 100%;
}

.chat-send > * {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
}

tr.empty td > span {
  display: block;
  margin: 20px auto ;
  text-align: center;
}

.mobile-app-section {
  max-width: 800px;
  padding-top: 50px;
  display: table;
  margin: 0 auto;
  width: 100%;
}

.mobile-app-section h2 {
  text-align: left;
}

.mobile-app-section > * {
  display: table-cell;
  vertical-align: middle;
}

.mobile-app-section > img {
  margin-right: 30px;
}



@media only screen and (max-width: 767px) {
  .mobile-app-section {
    max-width: none;
    padding: 30px 20px 0 20px;
  }

  .mobile-app-section > * {
    display: block;
  }

  .mobile-app-section > img {
    margin: 0 auto;
  }

  .mobile-app-section h2, .mobile-app-section p  {
    text-align: center;
  }

  .mobile-app-section .buttons {
    display: block;
    text-align: center;
  }
}
